
@use "hero";
@use "frieren";
@use "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Baskervville SC, serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    font-size: 40px;
}

.title--small {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.button {
    position: sticky;
    top: 0;
    
    margin: 0 auto;
    display: flex;
    
    left: 0;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    background-color: black;
    padding: 10px 24px;
    color: red;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
}
